@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
body{
    background: #1b4332;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
}
main{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 10px;
}
main h1{
    text-align: center;
}
main p{
    text-align: center;
}
main p a{
    color: #fff;
}